.containerMargin {
	margin-top: -30px;
}

.appHeader {
	padding-top: 5px;
	padding-bottom: 15px;
}

.formMargin {
	margin-top: 10px;
}

.selectTextCenter {
	text-indent: 340px;
}

.taskRemInfo {
	margin-top: 45px;
	margin-bottom: -35px;
}

.todoList {
	max-height: 205px; 
	overflow-y: scroll; 
	margin-top: 60px; 
	margin-bottom: -15px;
}

.marginBottomZero {
	margin-bottom: 0px;
}

.notificationMsg {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 13px;
}